.ReactModal__Content--after-open {
  flex-direction: column;
  justify-content: space-evenly;

  p {
    color: #fff;
  }

  span {
    position: absolute;
    color: #835afd;
    top: 5%;
    right: 5%;
    font-size: 20px;
    cursor: pointer;
  }

  button {
    border: none;
    padding: 6px;
    background: #fff;
    color: #835afd;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      background: #ccc;
    }
  }
}
